html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items {
  list-style-type: none;
  padding: 10px;
  height: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  position: relative;
  right: 100px;
}

.items:hover {
  background-color: #f1761e;
  color: white;
  cursor: pointer;
}

.B1 {
  background-color: #f1761e;
  list-style-type: none;
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 15px;
  position: relative;
  left: 50px;
}

.orench {
  color: rgba(255, 255, 255, 0.767);
  width: 400px;
  height: 350px;
  background-color: #f1761e;
  font-size: 20px;
  position: relative;
  top: 250px;
  right: 220px;
  text-align: left;
  border: solid 10px #f1761e;
}

.boxmax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 800px;
  background-image: url("../img/aka.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

.bt {
  width: 150px;
  height: 50px;
  background-color: #060650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-box-shadow: -10px 10px rgba(0, 0, 0, 0.479);
          box-shadow: -10px 10px rgba(0, 0, 0, 0.479);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  left: 20px;
  color: white;
}

.bt:hover {
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.479);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.479);
}

.apps {
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.r1 {
  background-color: #f1761e;
  font-size: 30px;
  width: 50px;
  height: 40px;
  color: white;
  position: relative;
  top: 50px;
}

.ou {
  font-weight: 5000;
  color: #242424;
  font-size: 50px;
}

.ourb {
  font-size: 30px;
}

.ourtext {
  width: 750px;
  height: 600px;
}

.ourm {
  position: relative;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 900px;
}

.sarq {
  position: relative;
  left: 100px;
}

.btm {
  width: 200px;
  height: 70px;
  background-color: #060650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-box-shadow: -10px 10px #f1761e;
          box-shadow: -10px 10px #f1761e;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  left: 20px;
  color: white;
}

.btm:hover {
  -webkit-box-shadow: -10px -10px #f1761e;
          box-shadow: -10px -10px #f1761e;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */