html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.items{
    list-style-type: none;
    padding: 10px;
    height: 30px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: relative;
    right: 100px;
}
.items:hover{
    background-color: #f1761e;
    color: white;
    cursor: pointer;
}
.B1{
    background-color: #f1761e;
    list-style-type: none;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}
.orench{
    color: rgba(255, 255, 255, 0.767);
    width: 400px;
    height: 350px;
    background-color: #f1761e;
    font-size: 20px;
    position: relative;
    top: 250px;
    right: 220px;
    text-align: left;
    border: solid 10px #f1761e;
    
}
.boxmax{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-image: url("../img/aka.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    border: red solid 1px;
}
.bt{
    width: 150px;
    height: 50px;
    background-color: rgb(6, 6, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.479) ;
    transition: all 1s ease;
    position: relative;
    left: 20px;
    
}
.bt:hover{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.479) ;
}
.apps{
    display: flex;
    justify-content: space-between;
}
.r1{
    background-color: #f1761e;
    font-size: 30px;
    width: 50px;
    height: 40px;
    color: white;
     position: relative;
     top: 50px;
}
